<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="POST">

<label>Username:
  <input type="text" name="users[user_name]" value="">

</label>
<br>
<br>
<label>Password:
  <input type="password" name="users[password]">
</label>

<br>
<br>
<input type="submit" value="Sign Up Now!">



</form>
